/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);


html {
  height: 100%;
  background: #fafafa; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #fafafa, #2a0845); /* Chrome 10-25, Safari 5.1-6 */
}

body {
  font-family: montserrat, arial, verdana;
  background: transparent;
}
